.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.button-div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  padding: 20px;
  border: 7px solid #4ECCA3;
  border-radius: 15px;
  background-color: rgb(208, 208, 77);
  color: #ebf0ee;
  font-size: 1.4rem;
  font-weight: 900;
  min-width: 150px;
  transition: ease-in-out;
}

.btn:hover {
  scale: 1.2;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
